<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.StudentXMLDao">

    <insert id="insertTransaction">
        INSERT INTO tranzactii
        ( local_id
        , transaction_id
        , checksum
        , debtor_acct1
        , debtor_acct2
        , debtor_acct3
        , debtor_acct4
        , creditor_acct1
        , creditor_acct2
        , creditor_acct3
        , creditor_acct4
        , amount
        , operation_tmstmp
        , additional_info
        )
        VALUES
        ( #{localId}
        , #{transactionId}
        , #{checksum}
        , #{debtorAcct1}
        , #{debtorAcct2}
        , #{debtorAcct3}
        , #{debtorAcct4}
        , #{creditorAcct1}
        , #{creditorAcct2}
        , #{creditorAcct3}
        , #{creditorAcct4}
        , #{amount}
        , #{operationTmstmp}
        , #{additionalInfo}
        )
    </insert>

</mapper>